*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: #06d6a0;
}

h1{
    margin: 1rem;
    color: #26547c;
    font-size: 3rem;
    font-weight: 700;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.options{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    gap: 1rem;
}

.opt{
    display: flex;
    border-radius: 50%;
    height: 25vh;
    width: 14vw;
    border: 0.6rem solid #ef476f;
}

#opt1{
    background-image: url(img/rock.webp);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(255, 209, 102, 1);
}

#opt2{
    background-image: url(img/paper.webp);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(255, 209, 102, 1);
}

#opt3{
    background-image: url(img/scissors.webp);
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(255, 209, 102, 1);
}

.opt:active,#reset-btn:active{
    box-shadow: 0 0 1rem rgba(0,0,0,1);
}

.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16vh;
    margin: 1rem;
}

.my-score,.comp-score{
    display: flex;
    flex-direction: column;
    margin: 3rem;
    height: 12vh;
}

.my-score-class,.comp-score-class{
    font-size: 3rem;
}

#score-name{
    font-size: 1rem;
}

.message{
    padding: 1rem;
    background-color: #26547c;
    color: #fcfcfc;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: 0;
}


#reset-btn{
    font-size: 1rem;
    padding: 1rem;
    color: white;
    background-color: black;
    border-radius: 1rem;
    border: none;
    margin: 5rem;
}