*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    background-color: #95D7AE;
}

.container{
    margin-top: 5rem;
    display: flex;
    height: 65vh;
    width: 23vw;
    padding: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba(0,0,0,0.3);
    border-radius: 2rem;
    gap: 1rem;
    background-color: #454851;
}

.btns{
    display: flex;
    flex-direction: column;
    color: #FCEFF9;
    background-color: #454851;
    box-shadow: 0.2em 0.2em 0.4em 0.2em rgba(0,0,0,0.2);
    border-radius: 1rem;
    border-top: 2px solid #476A6F;
    border-left: 2px solid #476A6F;
    border-bottom: 2px solid #73956F;
    border-right: 2px solid #73956F;
    height: 12vmin;
    width: 10vmin;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
}

.btns:hover{
    background-color: #545763;
    border-top: 3px solid #476A6F;
    border-left: 3px solid #476A6F;
    border-bottom: 3px solid #73956F;
    border-right: 3px solid #73956F;
}

i{
    font-size: 1.3rem;
    margin: 0.5rem;
}

a{
    text-decoration: none;
    color: #FCEFF9;
}