*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4e4ba;
    min-height: 100vh;
}

.container{
    background: #fff;
    border-radius: 2rem;
    padding: 2rem;
    min-height: 45vh;
    width: 20vw;
}

form{
    margin: 2rem 0 1rem 0;
}

form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    height: 3rem;
    padding-left: 1rem;
    font-size: 1rem;
    border: 1px solid lightgray;
}

form h3{
    margin: 0.2rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid lightgrey;
    padding: 0.5rem;
}

.select-container img{
    width: 3rem;
}

.dropdown i{
    font-size: 1.5rem;
    margin-top: 1.25rem;
}

.select-container select{
    font-size: 1rem;
    width: auto;
}

.msg{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

#btn{
    background-color: #af4d98;
    font-size: 1.2rem;
    color: #fff;
    height: 3rem;
    margin-top: 1rem;
}