*{
    padding: 0;
    margin: 0;
}

h1{
    color: rgb(255, 201, 144);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7fffd4;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 38vw;
    height: 75vh;
    margin: 3rem;
    background-color: #3f424d;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 3rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.5);
    color: white;
    padding: 1rem;
    padding-bottom: 4rem;
}

.user-val{
    display: flex;
    flex-direction: column;
    height: 55vh;
    width: 38vw;
    justify-content: space-evenly;
    text-align: center;
}

.dis{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 38vw;
    height: 12vh;
    background-color: #606474;
}

#prinin,#ratein{
    width: 12rem;
    height: 8vh;
    text-align: center;
    border-radius: 2rem;
}

#yearin,#monthin{
    width: 8rem;
    height: 8vh;
    text-align: center;
    border-radius: 2rem;
}

#amt{
    height: 15vh;
}

.total-val,.interest{
    height: 10vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#tvp,#ip{
    font-size: 1.5rem;
}

.option{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2rem;
    width: 36vw;
    height: 5vh;
}

.op{
    width: 1rem;
    height: 1rem;
    accent-color: rgb(255, 158, 55);
}

label{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.btn{
    position: absolute;
    bottom: 1rem;
    width: 38vw;
    height: 4rem;
    background-color: rgb(255, 158, 55);
    color: black;
    font-size: 1.3rem;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.btn:active{
    background-color: rgb(255, 132, 0);
}