*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #519E8A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    height: 70vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: #476A6F;
    border: none;
    border-radius: 3rem;
    box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.5);
}

h1{
    color: #C5C9A4;
    margin: 1rem;
}

.from-unit,.to-unit{
    display: flex;
    flex-direction: column;
    height: 20vmin;
    width: 40vw;
    padding: 1rem;
    margin: 0.5rem;
}

#fuh,#tuh{
    font-size: 1.5rem;
    color: azure;
    margin: 1.5rem;
    margin-left: 0px;
}

.btn{
    background-color: #ECBEB4;
    color: black;
    padding: 1rem;
    border-radius: 2rem;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.btn:hover{
    background-color: #ff7878;
}

#clear{
    position: absolute;
    bottom: 2rem;
    right: 10rem;
}

#to-scale,.to-display,.from-display,#from-scale{
    border-radius: 1rem;
    border: none;
    background-color: #519E8A;
    color: black;
    width: 18rem;
    height: 6rem;
    text-align: center;
    font-size: larger;
    border: none;
}

.to-display,.from-display{
    width: 15rem;
    padding-right: 3rem;
    text-align: right;
}

#to-scale:focus,.to-display:focus,.from-display:focus,#from-scale:focus{
    outline: none;
}

input::placeholder{
    color: black;
}

.dis2,.dis1{
    display: flex;
    justify-content: space-around;
}