*{
    padding: 0;
    margin: 0;
}

/* p,div{
    cursor: default;
} */

body{
    height: 100vh;
    background: url("back.jpg") no-repeat;
    background-size: cover;
    position: relative;
}

.searchbox{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 1;
}

.back{
    height: 10vh;
    font-size: large;
    color: white;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

@keyframes slidedown{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}

@keyframes slideup{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}

@keyframes slideside{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

.fil{
    filter: blur(1rem);
}

#search{
    width: 20vw;
    height: 5vh;
    border-radius: 2rem;
    padding: 1rem;
    font-size: large;
}

#search:focus{
    outline: none;
}

.main-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.container{
    filter: blur(10);
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 80vh;
    padding: 5vh;
    border-radius: 2rem;
    background-color: rgba(0, 0, 255, 0.5);
    backdrop-filter: blur(0.5rem);
    box-shadow: 0rem 0rem 2rem rgba(0, 0, 255, 0.6);
    overflow-y: scroll;
    scrollbar-width: none;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
    background-color: #0a2b5a6f;
    padding: 1rem;
    border: 0rem 0rem 2rem rgba(0, 0, 0, 0.4);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    color: white;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 4vmin;
    min-height: 4vmin;
    font-size: 1.5rem;
}

.temp-container{
    position: relative;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #0a2b5a6f;
    min-height: 35vmin;
    color: white;
    font-size: 1.2rem;
}

.main-temp{
    display: flex;
    height: 90vmin;
    margin: 5vh;
    font-size: 4rem;
    align-items: center;
    justify-content: space-between;
}

#main-temp-icon{
    display: flex;
    width: 12vh;
    height: 12vh;
}

.weather-type{
    position: absolute;
    bottom: 5vh;
    left: 5vh;
}

.min-max{
    position: absolute;
    bottom: 5vh;
    right: 5vh;
}

#aqi{
    text-align: center;
    color: white;
    font-size: 1.2rem;
    background-color: #0a2b5a6f;
    padding: 2rem;
    margin-top: 0.5rem;
}

.wind,.srsstime,.ex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-color: #0a2b5a6f;
    color: white;
    margin-top: 0.5rem;
}

.wind{
    justify-content: space-between;
    min-height: 11vmin;
}

.vis-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.srsstime{
    display: flex;
    flex-direction: column;
    min-height: 10vmin;
}

.level1-extra-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 50%;
}

.level2-extra-info{
    display: flex;
    justify-content: space-between;
    min-width: 50%;
}

.extra-info{
    display: flex;
    flex-direction: column;
}

.ex{
    display: flex;
    flex-direction: column;
    width: 22vmin;
    justify-content: space-around;
}

.day5-forecast{
    display: flex;
    flex-direction: column;
    background-color: #0a2b5a6f;
    margin-top: 0.5rem;
    color: white;
    padding: 0.5rem;
    text-align: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#day5-forecast-head{
    font-size: 1.5rem;
    margin: 0.5rem;
}

.days{
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
}

.attri{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.vis-dir-cont{
    border-radius: 50%;
    border: 0.3rem solid #1c286dc8;
    width: 48%;
    height: 100%;
    position: relative;
}

.vis-dir,.arr{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.arr{
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 100;
}

.vis-dir-ele{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#vis-dir-we{
    display: flex;
    justify-content: space-between;
}

.day5-forecast:hover,#aqi:hover,.header:hover{
    background-color: #0a2b5a5a;
    cursor: pointer;
    color: rgb(216, 216, 216);
}

.container-aqi,.container-5day{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
}

.container-aqi-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 25vh;
    box-shadow: 0rem 0rem 2rem rgb(255, 255, 255);
    border-radius: 2rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
}

.main-cont-aqi{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    min-height: 10vmin;
    width: 100%;
}

.More-Details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 10vmin;
    gap: 2rem;
    font-size: 1.2rem;
}

.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.container-5day-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 40vh;
    box-shadow: 0rem 0rem 2rem rgb(255, 255, 255);
    border-radius: 2rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
}

.main-cont-5day{
    margin-top: 2rem;
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.day5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    height: 100%;
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.day5:hover{
    background-color: #a9a9a9;
}

.day-para-type{
    width: 80%;
}

.minmax5day{
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.3rem;
}

.windspeed5day{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.hid{
    display: none;
}
