*{
    padding: 0;
    margin: 0;
}

body{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
}

.option-selector{
    display: flex;
    width: 20vw;
    margin: 3rem;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.op{
    width: 1rem;
    height: 1rem;
    accent-color: royalblue;
}

.wholeblock{
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 1rem;
    background-color: rgb(63, 66, 77);
    color: white;
    height: 75vh;
    width: 25vw;
    padding: 0.33rem;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.display{
    height: 10vh;
    width: 24vw;
    font-size: 2rem;
    color: whitesmoke;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    text-align: right;
    overflow: scroll;
    scrollbar-width: none;
    white-space: nowrap;
    direction: rtl;
}

.dis1{
    direction: ltr;
    align-items: center;
    color: white;
    width: 24vw;
    max-height: 5vh;
    font-size: 5vh;
    margin-bottom: 0.5rem;
}

.dis1x{
    color: grey;
    max-height: 3vh;
    font-size: 3vh;
}

.dis2{
    direction: ltr;
    align-items: center;
    margin-bottom: 0.5rem;
    color: gray;
    font-size: 4vh;
}

.dis2x{
    color: white;
    font-size: 6vh;
    font-weight: 550;
}

.btn{
    font-size: 1rem;
    height: 10vh;
    width: 5vw;
    margin: 0.20rem;
    background-color: rgb(63, 66, 77);
    color: whitesmoke;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

#equal{
    width: 11vw;
}

.nonno{
    color: aqua;
}

.opr{
    font-size: 1.5rem;
}

.btn:hover{
    background-color: rgb(82, 87, 102);
}

.container{
    display: flex;
    height: 65vh;
    width: 23vw;
    padding: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba(0,0,0,0.3);
    border-radius: 2rem;
    gap: 1rem;
    background-color: #3f424d;
}

.btns{
    display: flex;
    flex-direction: column;
    color: #FCEFF9;
    background-color: #3f424d;
    box-shadow: 0.2em 0.2em 0.4em 0.2em rgba(0,0,0,0.2);
    border-radius: 1rem;
    border-top: 2px solid #476A6F;
    border-left: 2px solid #476A6F;
    border-bottom: 2px solid #73956F;
    border-right: 2px solid #73956F;
    height: 12vmin;
    width: 10vmin;
    justify-content: center;
    align-items: center;
}

.btns:hover{
    background-color: #545763;
    border-top: 3px solid #476A6F;
    border-left: 3px solid #476A6F;
    border-bottom: 3px solid #73956F;
    border-right: 3px solid #73956F;
}

i{
    font-size: 1.3rem;
    margin: 0.5rem;
}

a{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #FCEFF9;
}

#temp{
    font-size: 0.7rem;
}

.hid{
    display: none;
}
